.navbar-style {
   background-color: transparent !important;
}

.navbar-style a:hover{
   color: rgb(204, 39, 121) !important;
}

.collapse-style {
   background-color: rgb(0, 0, 0) !important;
}

.nav-link {
   background-color: rgb(32, 31, 31, 0.9);
}

.flag {
   width: 21px;
   margin-right: 20px;
}