.projects-cards small {
  font-size: medium;
}

.projects-cards h5 {
    color: rgb(218, 141, 26);
  }
  

.projects {
  color: whitesmoke;
  background-color: rgb(15, 15, 15);
  height: fit-content !important;
}

.card-body {
  background-color: rgb(15, 15, 15);
  

}


.card {
  border: gainsboro !important;
  flex-direction: row !important;


}

@media (max-width: 1000px) {
  .card {
    flex-direction: column !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}

@media (max-width: 1200px) {
    .card {
      margin-left: 10px !important;
      margin-right: 10px !important;
      
    }
    
  }