.projects-cards small {
  color: whitesmoke;
}

.projects {
  background-color: rgb(35, 35, 35);
  color: whitesmoke;
  background-color: rgb(35, 35, 35);

  height: fit-content;
}

.card-body {
  background-color: rgb(35, 35, 35);
}

.card {
    border: none !important;
}
