.projects-cards small {
  color: whitesmoke;
}

.projects {
  color: whitesmoke;
  background-color: #ffb510;


  height: fit-content;
}

.card-body {
    background-color: #ffb510;

}

.card {
    border: none !important;
}