.projects-cards small {
  color: whitesmoke;
}
.projects-cards {
   margin-left: 10px !important;
   margin-right: 10px;

  }

.projects-sa {
  color: whitesmoke;
  background-color: #ffb510;


  height: fit-content;
}

.card-body-sa {
    background-color: #ffb510;

}

.card {
    border: none !important;
}