.readme {
    // background-image: url(../../images/wallpaper.jpg);
    background-color: #ffb510;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.readme img{
width: 500px;
border-radius: 50%;
}

.readme p{
 
    }
