@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.jumbotron {
    width: 100%;
    height: fit-content !important;
    height: 70px !important;
    background-color: rgb(15,15,15) !important;
    margin:0 auto !important;
    padding: 0 0 0 10px!important;
    color: black !important;
    text-align:start; 
    border-radius: 0% !important;
  }
  
  .jumbotron h1{
  
    color: gainsboro !important;
    font-family: "Poppins";
  }