@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.jumbotron {
    width: 100%;
    height: fit-content !important;
    height: 40px !important;
    background-color: #201f1f !important;
    margin:0 auto !important;
    padding: 40px 0 20px 10px!important;
    color: black !important;
    text-align:start; 
    border-radius: 0% !important;
    text-align: center;
    text-transform: uppercase;
  }
  
  .jumbotron h1{
  
    color: rgb(218, 151, 29) !important;
    font-family: "Poppins";
    font-size: 40px;
  
  }