.jumbotron {
    width: 100%;
    height: fit-content !important;
    height: 70px !important;
    background-color: rgb(255, 249, 249) !important;
    margin:0 auto !important;
    padding: 0 0 0 10px!important;
    color: black !important;
    text-align:start; 
  }
  
  .jumbotron h1{
  
    color: black !important;
  }